@font-face {
    font-family: 'emoji';
    src: url(fonts/NotoColorEmoji-Regular.ttf);
  }
  
#inicio{
    height: 100vh;
    background-image:linear-gradient(63.13deg, #4c6c81 51.04%, #083263 51.05%); 
    display: flex;
    align-items: center;
}


  
  body {
    margin: 0;
    padding: 0;
    background:#dfdbdb ;/* mudando a cor e os parametros do fundo da tela */
    background-repeat: auto; /* dizendo que o fundo vai repetir ou nao */
    background-size: 100% 100%;
     /* linear-gradient(to right, #4c6c81, #083263); */
  }
  
  
  .telaInicial-escrito{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .minhaFotoPrincipal{
    border-radius: 50%;
    box-shadow: 5px 5px 5px #00000077;
    width: 20%;
  }
  
  
  
  