body {
    margin: 0;
    padding: 0;
    background-color: hsl(180, 3%, 21%);
  }

  main {
    padding: 29px;
    margin: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
  }

.minhaFotoPrincipal{
    width: 200px;
    height: 200px;
}