@font-face{
    font-family: 'montserrat';
    src: url(../../fonts/Montserrat-VariableFont_wght.ttf);

}



/* criando menu de navegação */
.menu {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #5f5f5f1e;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.738);/* colocar uma sombra */
    position: fixed;
    top: 0;
    padding: 15px;
}

.menu-nome{
    font-family: "montserrat";
    font-size: 58px;
    font-weight: bold;
    color: #f8f0f0;
    
}
.menu-nome-sobre{
    font-size: 38px;
    font-weight: 500;

}

.menu-barra{
    font-family: "montserrat";
    color: #f8f0f0;
    justify-content: space-around;
    font-size: 15px;

}


.menu-barra-inicio{
    padding: 10px;
    border-left: 1px solid #ccc; /* Adiciona uma linha divisória na parte inferior */
    color: #f8f0f0;
}

.menu-barra-inicio:hover{
 color:red ;
}

.menu-barra-sobremim{
    padding: 10px;
    border-left: 1px solid #ccc; /* Adiciona uma linha divisória na parte inferior */
}

.menu-barra-projeto{
    padding: 10px;
    border-left: 1px solid #ccc; /* Adiciona uma linha divisória na parte inferior */
}

.menu-barra-certificados{
    padding: 10px;
    border-left: 1px solid #ccc; /* Adiciona uma linha divisória na parte inferior */
    border-right: 1px solid #ccc; /* Adiciona uma linha divisória na parte inferior */
}