@font-face {
    font-family: 'emoji';
    src: url(fonts/NotoColorEmoji-Regular.ttf);
  }
  @font-face{
    font-family: 'montserrat';
    src: url(../../fonts/Montserrat-VariableFont_wght.ttf);

}

  
body {
  margin: 0;
  padding: 0;
  background:#dfdbdb ;/* mudando a cor e os parametros do fundo da tela */
  background-repeat: auto; /* dizendo que o fundo vai repetir ou nao */
  background-size: 100% 100%;
   /* linear-gradient(to right, #4c6c81, #083263); */
}
  
.telaInicial{
    height: 96vh;
    background-image:linear-gradient(67deg, #260101f5 64%,  #8F3938 50%); 
    display: flex;
}


.telaInicial-escrito{
  font-family: 'montserrat';
  font-size: 45px;
  font-weight: 56;
  color: #dfdbdb;
  margin-top: 199px;
  width:1200px;
  margin-left: 60px;
}


.telaInicial-escrito-apresentacao1{
  margin-bottom: 25px;
  font-weight: bolder;
}

.telaInicial-escrito-apresentacao2{
  margin-bottom: 25px;
  font-weight: 300;
}

.telaInicial-escrito-apresentacao3{
  margin-bottom: 50px;
  font-weight:200;
}



.telaInicial-escrito-link{
  margin-left: 100px;
  background-color: #585659;
  border-radius: 30px;
  padding: 10px;
  color: #dfdbdb;
  font-weight: 100;
  text-decoration: none;
  transition: padding 200ms;
}

.telaInicial-escrito-link:hover{
  background-color: #2E303D;
  padding: 15px;
  margin-left: 95px;
}
 
.telaInicial-escrito-foto{
  border-radius: 30%;
  box-shadow: 5px 5px 5px #00000077;
  margin-left: 141px;
  width: 429px;
  height: 423px;
  margin-top: 199px;
}

/* Estilos iniciais da div */
.animated-div {
  opacity: 0; /* Inicialmente, a div estará invisível */
  animation: appear 2s ease-in-out forwards; /* Chama a animação 'appear' */}

  /* Definição da animação 'appear' */
  @keyframes appear {
  from {
  opacity: 0; /* Começa completamente transparente */
            }
  to {
  opacity: 1; /* Termina completamente visível */
  }
}

.animated-div2 {
  opacity: 0; /* Inicialmente, a div estará invisível */
  animation: appear 4s ease-in-out forwards; /* Chama a animação 'appear' */}

  /* Definição da animação 'appear' */
  @keyframes appear {
  from {
    opacity: 0; /* Começa completamente transparente */
            }
  to {
    opacity: 1; /* Termina completamente visível */
  }
}
  
.animated-div3 {
  opacity: 0; /* Inicialmente, a div estará invisível */
  animation: appear 6s ease-in-out forwards; /* Chama a animação 'appear' */}
  
  /* Definição da animação 'appear' */
  @keyframes appear {
  from {
    opacity: 0; /* Começa completamente transparente */
            }
  to {
    opacity: 1; /* Termina completamente visível */
  }
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background:#dfdbdb ;/* mudando a cor e os parametros do fundo da tela */
    background-repeat: auto; /* dizendo que o fundo vai repetir ou nao */
    background-size: 100% 100%;
     /* linear-gradient(to right, #4c6c81, #083263); */
  }
    
  .telaInicial{
      height: 96vh;
      background-image:linear-gradient(67deg, #260101f5 64%,  #8F3938 50%); 
      display: flex;
  }
  
  
  .telaInicial-escrito{
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: 56;
    color: #dfdbdb;
    margin-top: 199px;
    width:auto;
    height: auto;
    margin-left: 60px;
    padding: 10px;

  }
  
  
  .telaInicial-escrito-apresentacao1{
    margin-bottom: 25px;
    font-weight: bolder;
  }
  
  .telaInicial-escrito-apresentacao2{
    margin-bottom: 25px;
    font-weight: 300;
  }
  
  .telaInicial-escrito-apresentacao3{
    margin-bottom: 50px;
    font-weight:200;
  }
  
  
  
  .telaInicial-escrito-link{
    margin-left: 95px;
    background-color: #585659;
    border-radius: 30px;
    padding: 10px;
    color: #dfdbdb;
    font-weight: 100;
    text-decoration: none;
    transition: padding 200ms;
  }
  
  .telaInicial-escrito-link:hover{
    background-color: #2E303D;
    padding: 15px;
    margin-left: 95px;
  }
   
  .telaInicial-escrito-foto{
    border-radius: 30%;
    box-shadow: 5px 5px 5px #00000077;
    margin-left: 14px;
    margin-right:14px ;
    width: 100px;
    height: 30%;
    margin-top: 199px;
  }
  
  /* Estilos iniciais da div */
  .animated-div {
    opacity: 0; /* Inicialmente, a div estará invisível */
    animation: appear 2s ease-in-out forwards; /* Chama a animação 'appear' */}
  
    /* Definição da animação 'appear' */
    @keyframes appear {
    from {
    opacity: 0; /* Começa completamente transparente */
              }
    to {
    opacity: 1; /* Termina completamente visível */
    }
  }
  
  .animated-div2 {
    opacity: 0; /* Inicialmente, a div estará invisível */
    animation: appear 4s ease-in-out forwards; /* Chama a animação 'appear' */}
  
    /* Definição da animação 'appear' */
    @keyframes appear {
    from {
      opacity: 0; /* Começa completamente transparente */
              }
    to {
      opacity: 1; /* Termina completamente visível */
    }
  }
    
  .animated-div3 {
    opacity: 0; /* Inicialmente, a div estará invisível */
    animation: appear 6s ease-in-out forwards; /* Chama a animação 'appear' */}
    
    /* Definição da animação 'appear' */
    @keyframes appear {
    from {
      opacity: 0; /* Começa completamente transparente */
              }
    to {
      opacity: 1; /* Termina completamente visível */
    }
  }

}