.projetos{
    background-color:#8F3938 ;
    height: 60vh;
    padding: 1px;
}

.projetos-fundo{
    margin-top: 40px;
    margin-left: 100px;
    text-align: center;
    font-family: 'montserrat';
    font-size: 40px;
    color: #e6e3e3;
    background-color: #1111119d;
    border-radius: 16px;
    width: 90%;
    height: 450px;
    padding: 10px;

}
.projetos-fundo-espaço-projeto {
    display: inline-block; /* Exibe as divs lado a lado */
    width: 30%; /* Define a largura desejada para cada div, ajuste conforme necessário */
    margin: 20px; /* Define uma margem para espaçamento entre as divs, ajuste conforme necessário */
    margin-top: 40px;
    vertical-align: top; /* Alinha as divs superiormente */
    background-color: aliceblue;
    height: 300px;
    border-radius: 30px;
    
}

.projetos-fundo-espaço-projeto-embreve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: black;
}

